.container {
  display: flex;
  justify-content: center;
  text-align: center;
}

nav {
  align-items: center;
  background-color: transparent;
  border: 2px solid #1976d2;
  //border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: none;
  display: inline-flex;
  padding: 0 20px;
  position: fixed;
  top: 0px;
}

.listItem {
  text-transform: uppercase;

  &:after {
    content: '';
    display: block;
    height: 2px;
    bottom: 1px;
    position: relative;
    background-color: #1976d2;
    transition: all 0.1s ease-in;
    width: 0;
  }

  &:hover {
    &:after {
      width: 100%;
    }
  }

}